In [1]:
import pandas as pd
import os

In [4]:
dir_loc = '/home/madan/Desktop/joswin_bck/toPendrive/works/nlp-intelligence/crawling_misc/gyms_fitness_studios/lkdn_raw_data/us_more_than_200_people'
files = os.listdir(dir_loc)

In [6]:
cols = ['SNo', 'Id', 'LinkedInPage', 'CompanyName', 'Industry', 'Address', 'Employees']

In [7]:
df_list = []
for i in files:
    loc = dir_loc+'/'+i
    tmp = pd.read_csv(loc)
    if 'LinkedInPage' in ' '.join(tmp.columns):
        tmp.columns = cols
        df_list.append(tmp)

In [10]:
final_df = pd.concat(df_list)

In [15]:
#remove single quotes
final_df['LinkedInPage'] = final_df['LinkedInPage'].str.replace("'","")
final_df['CompanyName'] = final_df['CompanyName'].str.replace("'","")
final_df['Industry'] = final_df['Industry'].str.replace("'","")
final_df['Address'] = final_df['Address'].str.replace("'","")
final_df['Employees'] = final_df['Employees'].str.replace("'","")

In [17]:
final_df = final_df[['LinkedInPage', 'CompanyName', 'Industry', 'Address', 'Employees']]

In [33]:
final_df_unique = final_df.drop_duplicates()
final_df_unique.index = range(final_df_unique.shape[0])

In [34]:
final_df_unique.head()

,LinkedInPage,CompanyName,Industry,Address,Employees
0,https://www.linkedin.com/company/10400?trk=vsr...,Virgin Australia,Airlines/Aviation,"Brisbane, Australia","5001-10,000 employees"
1,https://www.linkedin.com/company/6863?trk=vsrp...,Flight Centre Travel Group,"Leisure, Travel & Tourism","Brisbane, Australia","10,001+ employees"
2,https://www.linkedin.com/company/166476?trk=vs...,Tourism Australia,"Leisure, Travel & Tourism","Sydney, Australia",201-500 employees
3,https://www.linkedin.com/company/1073775?trk=v...,Aurizon,Transportation/Trucking/Railroad,"Brisbane, Australia","5001-10,000 employees"
4,https://www.linkedin.com/company/624981?trk=vs...,Transport for NSW,Transportation/Trucking/Railroad,"Sydney, Australia",1001-5000 employees

In [44]:
final_df_unique['LinkedInPage'] = final_df_unique['LinkedInPage'].str.split('\?trk',expand=True)[0]

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [46]:
final_df_unique.tail()

,LinkedInPage,CompanyName,Industry,Address,Employees
305,https://www.linkedin.com/company/12208599,Splash City Perth Pty Ltd,"Leisure, Travel & Tourism","Perth, Australia",51-200 employees
306,https://www.linkedin.com/company/10700294,iChauffeur Australia,"Leisure, Travel & Tourism","Melbourne, Australia",51-200 employees
307,https://www.linkedin.com/company/12950782,ISS First Response - 1300 131 001,Transportation/Trucking/Railroad,"Melbourne, Australia",201-500 employees
308,https://www.linkedin.com/company/12937827,Transforce AU,Transportation/Trucking/Railroad,"New South Wales, Australia",51-200 employees
309,https://www.linkedin.com/company/11899481,CATO - Council of Australian Tour Operators,"Leisure, Travel & Tourism","Sydney, Australia",51-200 employees

In [47]:
final_df_unique.to_csv('linkedin_search_res.csv',index=False)